---
layout: blank
title: CV
permalink: /cv/
---
<head>
  {% include head.html %}
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:500,700" rel="stylesheet">
  <link href="/assets/css/resume.css" rel="stylesheet">
  <script src="/assets/js/jquery.easing.min.js"></script>
</head>

<body id="page-top">

  <!-- Top navbar -->
  {% include navigation.html %}

  <!-- Side navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" id="sideNav">
    <a class="d-none d-lg-block navbar-brand js-scroll-trigger" href="#page-top">
      <span>
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/img/photo-CV.jpeg" alt="">
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCVNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link js-scroll-trigger" href="#about">About</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#experience">Experience</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#research">Projects</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#awards">Awards</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#education">Education</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#publications">Publications</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#presentations">Presentations</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#skills">Skills</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#teaching">Teaching</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#interests">Interests</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Valerij
          <span class="text-primary">Talagayev</span>
        </h1>
        <div class="subheading mb-5">Berlin, DE ·
          <a href="mailto:cedric@bouysset.net">cedric@bouysset.net</a>
        </div>
        <p class="lead mb-5">
          computational drug designer with a passion for  method developing of user-friendly
          and reliable software for computational drug design. Due to the pharmaceutical 
          background posses a strong foundation in pharmacy and chemistry coupled self-obtained 
          skills in software development and engineering with additional experience in AI-driven 
          drug design. Always eager to learn new methods and improve his skills.
        </p>
        <div class="social-icons">
          {% for item in site.data.social %}
          <a href="{{ item.link }}" class="nav-item nav-link">
            <i class="{{ item.icon }}"></i>
          </a>
          {% endfor %}
        </div>
        <div class="mt-5">
          📄 <a href="/assets/pdf/Resume.pdf">Resume</a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">PhD Student, Free University of Berlin</h3>
            <div class="subheading mb-3"><a href="https://www.bcp.fu-berlin.de/en/pharmazie/faecher/pharmazeutische_chemie/wolber/index.html">FU Berlin</a></div>
            <p>
              <ul>
                <li>
                  Development of computational drug design packages for protein-ligand  simulation setup, simulation performance
                  with further protein-ligand analysis in addition to molecular visualization.
                </li>
                <li>Molecular Drug design and discovery of drugs targeting inflammatroy diseases</li>
                <li>Discovery of Unbinding pathways of agonists and antagonists</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2021 - Now</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Google Summer of Code Contributor</h3>
            <div class="subheading mb-3"><a href="https://www.mdanalysis.org/">MDAnalysis</a></div>
            <p>Co-mentoring two students in projects related to MDAnalysis and cheminformatics packages (RDKit and OpenBabel).
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2024 - November 2024</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Web Developer</h3>
            <div class="subheading mb-3"><a href="https://gcchemosensr.org/">Global Consortium for Chemosensory Research (GCCR)</a></div>
            <p>
              Volunteer work for the design and maintenance of the consortium webpage
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2020 - July 2022</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Google Summer of Code participant</h3>
            <div class="subheading mb-3"><a href="https://www.mdanalysis.org/">MDAnalysis</a></div>
            <p>Developed a new Python module for the MDAnalysis package:
              <ul>
                <li>Conversion between MDAnalysis atom groups and RDKit molecules</li>
                <li>Designed an algorithm to infer bond orders and charges from a topology with explicit hydrogens</li>
                <li>Leverage RDKit functionalities (SMARTS queries, molecular descriptors calculations... etc.) directly from MDAnalysis</li>
              </ul>
              Link: <a href="https://summerofcode.withgoogle.com/archive/2020/projects/5646492108324864/">bit.ly/37uNr9C</a>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2020 - August 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Technician</h3>
            <div class="subheading mb-3"><a href="http://institut-chimie.unistra.fr/equipes-de-recherche/ifm-laboratoire-dingenierie-des-fonctions-moleculaires/">IFM Lab</a>, Institut de Science et d'Ingénierie Supramoléculaires, UMR 7006,
            Université de Strasbourg, France</div>
            <p>Developped ChemFlow, a series of computational chemistry workflows:
              <ul>
                <li>designed to automatize and simplify the drug discovery pipeline and scoring function benchmarking</li>
                <li>including extensive data analysis and reporting tools for rapid decision making</li>
                <li>adapted to work locally or on compute clusters</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2017 - August 2017</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        {% for project in site.data.open-source-projects %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h4 class="mb-0"><a href="{{ project.docs }}">{{ project.name }}</a></h4>
            <div class="subheading mb-3">{{ project.description }}</div>
            <div class="">
              <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ project.github_handle }}">
              <img alt="GitHub forks" src="https://img.shields.io/github/forks/{{ project.github_handle }}">
            </div>
            <div>
              <p>{{ project.role }}</p>
              {% if project.paper %}
              <p><a href="{{ project.doi }}">{{ project.paper }}</a></p>
              {% endif %}
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ project.date }}</span>
          </div>
        </div>
        <hr class="m-6">
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Honours &amp; Awards</h2>
        <ul class="fa-ul mb-0">
          {% for award in site.data.awards %}
          <li class="mb-2">
            <i class="fa-li fa fa-trophy text-warning"></i>
            {% if award.url %}
            <a href="{{ award.url }}">{{ award.date }}</a>
            {% else %}
            {{ award.date }}
            {% endif %} - {{ award.description }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">PhD Student and Teaching Assistant</h3>
            <div class="subheading text-uppercase mb-2">Université Côte d'Azur, France</div>
            <p>Affiliation: <a href="https://lab.chemsensim.fr/index.php">ChemoSim Lab</a>, Institut de Chimie de Nice, UMR 7272,
            Université Côte d'Azur, France</p>
            <p><a href="https://www.theses.fr/2021COAZ4062">Molecular basis of chemosensory perception</a></p>
            <p>Molecular modeling, cheminformatics, machine-learning, data science, chemosensory GPCRs, software and web development</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2018 - September 2021</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://lab.chemsensim.fr/index.php">ChemoSim Lab</a>, Institut de Chimie de Nice, UMR 7272,
            Université Côte d'Azur, France</div>
            <p>Development of <abbr title="Quantitative Structure-Activity Relationship" class="initialism">QSAR</abbr> models for the prediction of gustative and olfactive properties</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2018 - July 2018</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">MSc in Chemoinformatics</h3>
            <div class="subheading text-uppercase mb-2">Université de Strasbourg, France</div>
            <p>Diploma received with honors</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2016 - 2018</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="http://institut-chimie.unistra.fr/equipes-de-recherche/ifm-laboratoire-dingenierie-des-fonctions-moleculaires/">IFM Lab</a>, Institut de Science et d'Ingénierie Supramoléculaires, UMR 7006,
            Université de Strasbourg, France</div>
            <p>Calculation of binding affinities of ligand-receptor complexes from <abbr title="Molecular Dynamics" class="initialism">MD</abbr> simulations, using the <abbr title="Molecular Mechanics Poisson-Boltzmann Surface Area" class="initialism">MM/PBSA</abbr> approach</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2017 - June 2017</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="http://univ-cotedazur.fr/labs/icn/fr/equipes/APSM/page.html">Equipe Arômes Parfums Synthèse Modélisation</a>, Institut de Chimie de Nice, UMR 7272,
            Université de Nice Sophia Antipolis, France</div>
            <p>Construction of 3D models of bitter taste receptors using homology modeling and <abbr title="Multiple Sequence Alignment" class="initialism">MSA</abbr></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2016</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">BSc in Chemistry</h3>
            <div class="subheading text-uppercase mb-2">Université de Nice Sophia Antipolis, France</div>
            <div>Diploma received with honors</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2013 - 2016</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">First cycle of medical studies</h3>
            <div class="subheading text-uppercase mb-2">Université de Nice Sophia Antipolis, France</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2011 - 2013</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Scientific Baccalaureate</h3>
            <div class="subheading text-uppercase mb-2">Lycée Albert Premier, Monaco</div>
            <div>Diploma received with honors</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2011</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publications">
      <div class="w-100">
        <h2 class="mb-2">Publications</h2>
        {% assign first_pubs = site.data.publications | where: "first_author", true %}
        {% assign other_pubs = site.data.publications | where: "first_author", false %}
        <h3 class="mb-5">First-author publications</h3>
        {% for publication in first_pubs %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h4 class="mb-0">
              {% if publication.url %}
              {{ forloop.rindex }}.&nbsp;
              <a href="{{ publication.url }}">{{ publication.title }}</a>
              {% else %}
              {{ forloop.rindex }}. {{ publication.title }}
              {% endif %}
            </h4>
            <div class="subheading mb-3">{{ publication.journal }}</div>
            <div>{{ publication.authors }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ publication.date }}</span>
            {% if publication.pdf %}
            <div class="w-100"></div>
            <a class="text-primary" href="{{ publication.pdf }}">
              <img src="/assets/img/pdf.png" style="width: 36px;" alt="PDF"/>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <h3 class="mb-5">Other publications</h3>
        {% for publication in other_pubs %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h4 class="mb-0">
              {% if publication.url %}
              {{ forloop.rindex }}.&nbsp;
              <a href="{{ publication.url }}">{{ publication.title }}</a>
              {% else %}
              {{ forloop.rindex }}. {{ publication.title }}
              {% endif %}
            </h4>
            <div class="subheading mb-3">{{ publication.journal }}</div>
            <div>{{ publication.authors }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ publication.date }}</span>
            {% if publication.pdf %}
            <div class="w-100"></div>
            <a class="text-primary" href="{{ publication.pdf }}">
              <img src="/assets/img/pdf.png" style="width: 36px;" alt="PDF"/>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="presentations">
      <div class="w-100">
        <h2 class="mb-5">Presentations</h2>
        {% for presentation in site.data.presentations %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">
              {% if presentation.url %}
              <a href="{{ presentation.url }}">{{ presentation.event }}</a>
              {% else %}
              {{ presentation.event }}
              {% endif %}
            </h3>
            <div class="subheading mb-3">{{ presentation.type }}</div>
            <div>“{{ presentation.title }}”</div>
            <p class="mb-0">{{ presentation.info }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ presentation.date }}</span>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="row">
          <div class="col-sm">
            <div class="subheading mb-1">Overview</div>
            <script src="/assets/js/tagcanvas.min.js" type="text/javascript"></script>
            <div id="skills-tag-canvas-container">
              <canvas width="800" height="800" id="skills-tag-canvas" style="width: 100%;">
                <ul>
                 <li><a href="#" class="huge red">Programming</a></li>
                 <li><a href="#" class="medium red">Software engineering</a></li>
                 <li><a href="#" class="medium red">Webservices</a></li>
                 <li><a href="#" class="huge blue">Molecular Modeling</a></li>
                 <li><a href="#" class="medium blue">MM/PBSA</a></li>
                 <li><a href="#" class="large blue">Molecular Dynamics</a></li>
                 <li><a href="#" class="huge green">Cheminformatics</a></li>
                 <li><a href="#" class="large green">QSAR</a></li>
                 <li><a href="#" class="medium green">Similarity Analysis</a></li>
                 <li><a href="#" class="medium green">Diversity Analysis</a></li>
                 <li><a href="#" class="medium green">Chemical Space</a></li>
                 <li><a href="#" class="medium green">Clustering</a></li>
                 <li><a href="#" class="medium purple">Pharmacophores</a></li>
                 <li><a href="#" class="huge purple">Drug Design</a></li>
                 <li><a href="#" class="large purple">Docking</a></li>
                 <li><a href="#" class="small purple">Interaction Fingerprints</a></li>
                 <li><a href="#" class="small purple">ADMETox Filters</a></li>
                 <li><a href="#" class="large purple">Virtual Screening</a></li>
                 <li><a href="#" class="huge orange">Machine Learning</a></li>
                 <li><a href="#" class="medium orange">Data Mining</a></li>
                 <li><a href="#" class="medium orange">Active Learning</a></li>
                </ul>
              </canvas>
            </div>
          </div>

          <div class="col-sm">
            <div class="h-50">
              <div class="subheading mb-3">Programming Languages &amp; Tools</div>
              <ul class="list-inline dev-icons">
                <li class="list-inline-item mr-4">
                  <i class="fab fa-python" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Python" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i><br/>
Packages: rdkit, openeye, mdanalysis, pandas, numpy, scipy, scikit-learn, bokeh, django, pyqt5'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fas fa-terminal" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Bash" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
Tools: awk, sed, grep, ssh<br/>
Job schedulers: PBS, Slurm, OAR'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fab fa-js-square" data-container="body" data-toggle="popover" data-placement="bottom" data-title="JavaScript" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
Libraries: jQuery, DataTables, list.js, vis.js'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fas fa-copyright" data-container="body" data-toggle="popover" data-placement="bottom" data-title="C" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fab fa-php" data-container="body" data-toggle="popover" data-placement="bottom" data-title="PHP" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fab fa-git" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Git" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
GitHub, Bitbucket'></i>
                </li>
              </ul>
            </div>

            <div class="h-50">
              <div class="subheading mb-3 mt-3">Languages</div>
              <ul class="list-inline">
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-fr" alt="French"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="French" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i><br/>
Native speaker'/>
                </li>
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-gb" alt="English"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="English" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star-half-alt text-warning"></i><br/>
CEF Level: C2 - Proficient'/>
                </li>
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-it" alt="Italian"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="Italian" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star-half-alt text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
CEF Level: A2 - Elementary'/>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="teaching">
      <div class="w-100">
        <h2 class="mb-5">Teaching</h2>

        <p>For first year bachelor students (L1)</p>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Chemical Senses</h4>
            <div class="subheading mb-3">Lectures and practicals</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2019-2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Microscopic structure of matter</h4>
            <div class="subheading mb-3">Practicals</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Structure and representation of molecules</h4>
            <div class="subheading mb-3">Exercices</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2018-2020</span>
          </div>
        </div>

        <hr />
        <p>For second year bachelor students (L2)</p>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Chemistry of Solutions</h4>
            <div class="subheading mb-3">Exercices</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2019-2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Molecular structure and macroscopic properties</h4>
            <div class="subheading mb-3">Exercices and Practicals</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2020-2021</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100 h5">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-3">
          Video-games, electric bass, snowboard, badminton.
          I also develop and contribute to open-source computational chemistry tools such as <a href="https://github.com/cbouy/mols2grid">mols2grid</a>, <a href="https://github.com/chemosim-lab/ProLIF">ProLIF</a>, or <a href="https://www.mdanalysis.org/">MDAnalysis</a>.
        </p>
      </div>
    </section>

  </div>

<script src="/assets/js/resume.min.js"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover({ trigger: "hover", html: true })
})
var options = {
  activeCursor: 'default',
  decel: 0.99,
  initial: [0.1,-0.05],
  minBrightness: 0.3,
  noSelect: true,
  outlineMethod: 'none',
  shuffleTags: true,
  textColour: null,
  textFont: null,
  weight: true,
};
window.onload = function() {
try {
TagCanvas.Start('skills-tag-canvas', '', options);
} catch(e) {
// something went wrong, hide the canvas container
document.getElementById('skills-tag-canvas-container').style.display = 'none';
}
};
</script>
</body>
