---
layout: blank
title: CV
permalink: /cv/
---
<head>
  {% include head.html %}
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:500,700" rel="stylesheet">
  <link href="/assets/css/resume.css" rel="stylesheet">
  <script src="/assets/js/jquery.easing.min.js"></script>
</head>

<body id="page-top">

  <!-- Top navbar -->
  {% include navigation.html %}

  <!-- Side navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" id="sideNav">
    <a class="d-none d-lg-block navbar-brand js-scroll-trigger" href="#page-top">
      <span>
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/img/photo-CV.jpeg" alt="">
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCVNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link js-scroll-trigger" href="#about">About</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#experience">Experience & Education</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#projects">Software Projects</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#awards">Awards</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#education">Internships & Research Stays</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#publications">Publications</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#presentations">Presentations</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#skills">Skills</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#teaching">Teaching</a>
        <a class="nav-item nav-link js-scroll-trigger" href="#interests">Interests</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Valerij
          <span class="text-primary">Talagayev</span>
        </h1>
        <div class="subheading mb-5">Berlin, DE ·
          <a href="mailto:talagayv95@gmail.com">talagayv95@gmail.com</a>
        </div>
        <p class="lead mb-5">
          computational drug designer with a passion for  method developing of user-friendly
          and reliable software for computational drug design. Due to the pharmaceutical 
          background posses a strong foundation in pharmacy and chemistry coupled self-obtained 
          skills in software development and engineering with additional experience in AI-driven 
          drug design. Always eager to learn new methods and improve his skills.
        </p>
        <div class="social-icons">
          {% for item in site.data.social %}
          <a href="{{ item.link }}" class="nav-item nav-link">
            <i class="{{ item.icon }}"></i>
          </a>
          {% endfor %}
        </div>
        <div class="mt-5">
          📄 <a href="/assets/pdf/Resume.pdf">Resume</a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience & Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">PhD Student</h3>
            <div class="subheading mb-3"><a href="https://www.bcp.fu-berlin.de/en/pharmazie/faecher/pharmazeutische_chemie/wolber/index.html">Wolber Lab, FU Berlin</a></div>
            <p>
              <ul>
                <li>
                  Development of computational drug design packages for protein-ligand  simulation setup, simulation performance
                  with further protein-ligand analysis in addition to molecular visualization.
                </li>
                <li>Molecular Drug design and discovery of drugs targeting inflammatroy diseases</li>
                <li>Discovery of Unbinding pathways of agonists and antagonists</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2021 - Now</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Google Summer of Code participant</h3>
            <div class="subheading mb-3"><a href="https://www.mdanalysis.org/">MDAnalysis</a></div>
            <p>Developed a new MDAKits package for the MDAnalysis:
              <ul>
                <li>2D small molecule visualization for MDAnalysis</li>
                <li>Mentors: Richard Gowers, Yuxuan Zhuang & Cédric Bouysset</li>
              </ul>
              Link: <a href="https://summerofcode.withgoogle.com/programs/2024/projects/sfy3kuqc">Project Site</a>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2024 - July 2024</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">PJ Researcher</h3>
            <div class="subheading mb-3"><a href="https://www.uni-marburg.de/en/fb16/ipc/kolb-group">Kolb Lab, University of Marburg</a></div>
            <p>
              <ul>
                <li>Binding Mode analysis and prediction of serotonergic antipyschotic drugs</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">MSc Medicinal Chemistry</h3>
            <div class="subheading mb-3"><a href="https://www.uni-marburg.de/en/fb15">University of Marburg, Chemistry</a></div>
            <p>
              <ul>
                <li>Master's Thesis: Docking of antipsychotic drugs and ligands to aminergic receptors</li>
                <li>Current Grade: 1.59</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">from 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Pharmacy</h3>
            <div class="subheading mb-3"><a href="https://www.uni-marburg.de/en/fb16">KUniversity of Marburg, Pharmacy</a></div>
            <p>
              <ul>
                <li>Grade Pharmacy: 2.2; Grade Approbation: 2.51</li>
              </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2014 - 2020</span>
          </div>
        </div>
        
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Software Projects</h2>
    
        {% for project in site.data.open-source-projects %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h4 class="mb-0"><a href="{{ project.docs }}">{{ project.name }}</a></h4>
            <div class="subheading mb-3">{{ project.description }}</div>
            {% if project.figure %}
            <div class="project-figure">
              <img src="{{ project.figure }}" alt="{{ project.name }} figure" style="max-width: 100%; height: 200px;">
            </div>
            {% endif %}
            <div class="">
              <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ project.github_handle }}">
              <img alt="GitHub forks" src="https://img.shields.io/github/forks/{{ project.github_handle }}">
            </div>
            <div>
              <p>{{ project.role }}</p>
              {% if project.paper %}
              <p><a href="{{ project.doi }}">{{ project.paper }}</a></p>
              {% endif %}
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ project.date }}</span>
          </div>
        </div>
        <hr class="m-6">
        {% endfor %}
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Honours &amp; Awards</h2>
        <ul class="fa-ul mb-0">
          {% for award in site.data.awards %}
          <li class="mb-2">
            <i class="fa-li fa fa-trophy text-warning"></i>
            {% if award.url %}
            <a href="{{ award.url }}">{{ award.date }}</a>
            {% else %}
            {{ award.date }}
            {% endif %} - {{ award.description }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Internships & Research Stays</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Research Stay</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.universiteitleiden.nl/en/staffmembers/gerard-van-westen">van Westen Lab</a> Leiden Academic Centre for Drug Research,
              Leiden, Netherlands</div>
            <p>Discovery of novel TLR9 Antagonists through Machine learning with further selectivity prediction towards TLR7/8</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2024 - April 2024</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Research Stay</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://anunesalves.owlstown.net">Nunes Lab</a> Technical University of Berlin: Faculty of Chemistry,
              Berlin, Germany</div>
            <p>Pathway unbinding prediction of TLR8 Agonists and Antagonists</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">From August 2023</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.biomodellab.eu">Filipek Lab</a> University of Warsaw: Faculty of Chemistry,
              Warsaw, Poland</div>
            <p>Homology modelling and MD simulations of histamine receptor dimers</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2021 – July 2021 </span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.uni-marburg.de/en/fb15/researchgroups/geyer-research-group">Geyer Lab</a> University of Marburg: Faculty of Chemistry,
              Marburg, Germany</div>
            <p>Peptide synthesis</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2021 – June 2021 </span>
          </div>
        </div>
        <hr class="m-6">
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.uni-marburg.de/en/fb16/ipc/kolb-group">Kolb Lab</a> University of Marburg: Faculty of Pharmacy,
              Marburg, Germany</div>
            <p>Docking & Virtual screening</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2020 – March 2020 </span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.uni-marburg.de/de/fb16/ipc/ag-schlitzer">Schlitzer Lab</a> University of Marburg: Faculty of Pharmacy,
              Marburg, Germany</div>
            <p>Synthesis of drugs against schistosomiasis</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018 – October 2018</span>
          </div>
        </div>
        <hr class="m-6">

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Internship</h3>
            <div class="subheading text-uppercase mb-2"><a href="https://www.uni-marburg.de/de/fb16/ipc/ag-schlitzer">Schlitzer Lab</a> University of Marburg: Faculty of Pharmacy,
              Marburg, Germany</div>
            <p>Synthesis of drugs against schistosomiasis</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2018 </span>
          </div>
        </div>
        <hr class="m-6">

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publications">
      <div class="w-100">
        <h2 class="mb-2">Publications</h2>
        {% assign first_pubs = site.data.publications | where: "first_author", true %}
        {% assign other_pubs = site.data.publications | where: "first_author", false %}
        <h3 class="mb-5">First-author publications</h3>
        {% for publication in first_pubs %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h4 class="mb-0">
              {% if publication.url %}
              {{ forloop.rindex }}.&nbsp;
              <a href="{{ publication.url }}">{{ publication.title }}</a>
              {% else %}
              {{ forloop.rindex }}. {{ publication.title }}
              {% endif %}
            </h4>
            <div class="subheading mb-3">{{ publication.journal }}</div>
            <div>{{ publication.authors }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ publication.date }}</span>
            {% if publication.pdf %}
            <div class="w-100"></div>
            <a class="text-primary" href="{{ publication.pdf }}">
              <img src="/assets/img/pdf.png" style="width: 36px;" alt="PDF"/>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <h3 class="mb-5">Other publications</h3>
        {% for publication in other_pubs %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h4 class="mb-0">
              {% if publication.url %}
              {{ forloop.rindex }}.&nbsp;
              <a href="{{ publication.url }}">{{ publication.title }}</a>
              {% else %}
              {{ forloop.rindex }}. {{ publication.title }}
              {% endif %}
            </h4>
            <div class="subheading mb-3">{{ publication.journal }}</div>
            <div>{{ publication.authors }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ publication.date }}</span>
            {% if publication.pdf %}
            <div class="w-100"></div>
            <a class="text-primary" href="{{ publication.pdf }}">
              <img src="/assets/img/pdf.png" style="width: 36px;" alt="PDF"/>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="presentations">
      <div class="w-100">
        <h2 class="mb-5">Presentations</h2>
        {% for presentation in site.data.presentations %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">
              {% if presentation.url %}
              <a href="{{ presentation.url }}">{{ presentation.event }}</a>
              {% else %}
              {{ presentation.event }}
              {% endif %}
            </h3>
            <div class="subheading mb-3">{{ presentation.type }}</div>
            <div>“{{ presentation.title }}”</div>
            <p class="mb-0">{{ presentation.info }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ presentation.date }}</span>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="row">
          <div class="col-sm">
            <div class="subheading mb-1">Overview</div>
            <script src="/assets/js/tagcanvas.min.js" type="text/javascript"></script>
            <div id="skills-tag-canvas-container">
              <canvas width="800" height="800" id="skills-tag-canvas" style="width: 100%;">
                <ul>
                 <li><a href="#" class="huge red">Programming</a></li>
                 <li><a href="#" class="medium red">Software engineering</a></li>
                 <li><a href="#" class="medium red">Webservices</a></li>
                 <li><a href="#" class="huge blue">Molecular Modeling</a></li>
                 <li><a href="#" class="medium blue">MM/PBSA</a></li>
                 <li><a href="#" class="large blue">Molecular Dynamics</a></li>
                 <li><a href="#" class="huge green">Cheminformatics</a></li>
                 <li><a href="#" class="large green">QSAR</a></li>
                 <li><a href="#" class="medium green">Similarity Analysis</a></li>
                 <li><a href="#" class="medium green">Diversity Analysis</a></li>
                 <li><a href="#" class="medium green">Chemical Space</a></li>
                 <li><a href="#" class="medium green">Clustering</a></li>
                 <li><a href="#" class="medium purple">Pharmacophores</a></li>
                 <li><a href="#" class="huge purple">Drug Design</a></li>
                 <li><a href="#" class="large purple">Docking</a></li>
                 <li><a href="#" class="small purple">Interaction Fingerprints</a></li>
                 <li><a href="#" class="small purple">ADMETox Filters</a></li>
                 <li><a href="#" class="large purple">Virtual Screening</a></li>
                 <li><a href="#" class="huge orange">Machine Learning</a></li>
                 <li><a href="#" class="medium orange">Data Mining</a></li>
                 <li><a href="#" class="medium orange">Active Learning</a></li>
                </ul>
              </canvas>
            </div>
          </div>

          <div class="col-sm">
            <div class="h-50">
              <div class="subheading mb-3">Programming Languages &amp; Tools</div>
              <ul class="list-inline dev-icons">
                <li class="list-inline-item mr-4">
                  <i class="fab fa-python" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Python" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
Packages: rdkit, openmm, prolif, mdanalysis, pandas, numpy, scipy, scikit-learn, matplotlib, plip, mdtraj'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fas fa-terminal" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Bash" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
Tools: awk, sed, grep, ssh<br/>
Job schedulers: Slurm'></i>
                </li>
                <li class="list-inline-item mr-4">
                  <i class="fab fa-git" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Git" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="far fa-star text-warning"></i>
<i class="far fa-star text-warning"></i><br/>
GitHub'></i>
                </li>
              </ul>
            </div>

            <div class="h-50">
              <div class="subheading mb-3 mt-3">Languages</div>
              <ul class="list-inline">
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-de" alt="German"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="German" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i><br/>
Native speaker'/>
                </li>
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-ru" alt="Russian"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="Russian" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i><br/>
Native speaker'/>
                </li>
                <li class="list-inline-item mr-5">
                  <img src="/assets/img/blank.gif" class="flag flag-gb" alt="English"
                  data-container="body" data-toggle="popover" data-placement="bottom" data-title="English" data-content='
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star text-warning"></i>
<i class="fas fa-star-half-alt text-warning"></i><br/>
CEF Level: C2 - Proficient'/>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="teaching">
      <div class="w-100">
        <h2 class="mb-5">Teaching</h2>

        <p>For second semester pharmacy students</p>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Physical chemistry</h4>
            <div class="subheading mb-3">Practicals</div>
            <div>chemical kinetic experiments for pharmaceutical students</div>
            <div>thermodynamcial experiments for pharmaceutical students</div>
            <div> </div>
            <div> </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2021-now</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Quantitative analysis</h4>
            <div class="subheading mb-3">Practicals</div>
            <div>supervision of pharmaceutical students during quantitative analysis practical course</div>
            <div> </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2020</span>
          </div>
        </div>

        <hr />
        <p>For third semester pharmacy students</p>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h4 class="mb-0">Instrumental analytics</h4>
            <div class="subheading mb-3">Seminars & practicals</div>
            <div>gas chromatography experiments for pharmaceutical students</div>
            <div>atom absorption spectrometry experiments for pharmaceutical students</div>
            <div> </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2021-now</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100 h5">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-3">
          Video-games, watching movies, playing bass guitar, formula 1.
          Also developing and working on open-source tools such as <a href="https://github.com/wolberlab/OpenMMDL">OpenMMDL</a>, <a href="https://github.com/talagayev/MDonatello">MDonatello</a>, or <a href="https://www.mdanalysis.org/">MDAnalysis</a>.
        </p>
      </div>
    </section>

  </div>

<script src="/assets/js/resume.min.js"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover({ trigger: "hover", html: true })
})
var options = {
  activeCursor: 'default',
  decel: 0.99,
  initial: [0.1,-0.05],
  minBrightness: 0.3,
  noSelect: true,
  outlineMethod: 'none',
  shuffleTags: true,
  textColour: null,
  textFont: null,
  weight: true,
};
window.onload = function() {
try {
TagCanvas.Start('skills-tag-canvas', '', options);
} catch(e) {
// something went wrong, hide the canvas container
document.getElementById('skills-tag-canvas-container').style.display = 'none';
}
};
</script>
</body>
